.common-loader-hide {
  -webkit-animation: hideit 0.5s normal forwards ease-in-out !important;
          animation: hideit 0.5s normal forwards ease-in-out !important;
  -webkit-animation-delay: 0.3s !important;
          animation-delay: 0.3s !important;
}

.common-loader-initial {
  -webkit-animation: fade-in 0.5s normal forwards ease-in-out;
          animation: fade-in 0.5s normal forwards ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes hideit {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    display: none !important;
    height: 100vh;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@keyframes hideit {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    display: none !important;
    height: 100vh;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body, html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000000;
  box-sizing: border-box;
  user-select: inherit;
  -webkit-touch-callout: inherit;
  -webkit-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  max-width: 100%;
  text-decoration: none;
}

button:focus {
  background-color: unset !important;
}

.content-fluid {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .content-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .content-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .content-fluid {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 1300px) {
  .content-fluid {
    padding-right: 80px !important;
    padding-left: 80px !important;
  }
  .content-fluid.compact {
    width: 100%;
  }
}
.loginpage {
  height: 100vh;
  overflow: hidden;
}
.loginpage .loginpagediv {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
}
.loginpage .loginpagediv .sidedwhitediv {
  background-color: white;
  height: 200%;
  width: 19%;
  transform-origin: top right;
  transform: rotate(15deg) translate(275px, -14px);
}
.loginpage .loginpagediv .loginpagecontent {
  background: white;
  height: 100%;
  width: 37%;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
}
.loginpage .loginpagediv .loginpagecontent .logincontent {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .logintitle .title {
  color: #0033A1;
  font-size: 20px;
  font-weight: bold;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .loginemail .loginemailinput {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #898A8D33;
  width: 500px;
  padding-bottom: 12px;
  padding-left: 12px;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .loginemail .loginemailinput::-moz-placeholder {
  color: #1F1F1F;
  opacity: 0.75;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .loginemail .loginemailinput:-ms-input-placeholder {
  color: #1F1F1F;
  opacity: 0.75;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .loginemail .loginemailinput::placeholder {
  color: #1F1F1F;
  opacity: 0.75;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .loginpassword .loginpassinput {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #898A8D33;
  width: 500px;
  padding-bottom: 12px;
  padding-left: 12px;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .loginpassword .loginpassinput::-moz-placeholder {
  color: #1F1F1F;
  opacity: 0.75;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .loginpassword .loginpassinput:-ms-input-placeholder {
  color: #1F1F1F;
  opacity: 0.75;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .loginpassword .loginpassinput::placeholder {
  color: #1F1F1F;
  opacity: 0.75;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .loginforgotpassword .forgotpasstxt {
  color: #1F1F1F80;
  font-size: 14px;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .loginforgotpassword .forgotpasstxt .forgotpassbtn {
  font-size: 14px;
  font-weight: bold;
  color: #1F1F1F;
  text-decoration: none;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .loginforgotpassword .forgotpasstxt .forgotpassbtn:hover {
  cursor: pointer;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .loginbtndiv .loginbtn {
  background-color: #0033A1;
  border: none;
  height: 40px;
  width: 140px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  position: relative;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .loginbtndiv .loginbtn:hover {
  cursor: pointer;
}
.loginpage .loginpagediv .loginpagecontent .logincontent .loginbtndiv .loginbtn img {
  position: absolute;
  right: 15px;
  bottom: 13px;
  height: 15px;
}

.pagecontent {
  display: flex;
}
.pagecontent .sidebar {
  min-height: 100vh;
  width: 15%;
  background-color: #0033A1;
}
.pagecontent .sidebar .sidebarcontent {
  height: 100%;
}
.pagecontent .sidebar .sidebarcontent .toplogodiv {
  height: 150px;
}
.pagecontent .sidebar .sidebarcontent .toplogodiv .logodiv {
  display: flex;
  justify-content: center;
  height: 75px;
  align-items: center;
}
.pagecontent .sidebar .sidebarcontent .bottomsidecontent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.pagecontent .sidebar .sidebarcontent .bottomsidecontent .sidecontent {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pagecontent .sidebar .sidebarcontent .bottomsidecontent .sidecontent .sideitem {
  height: 25px;
  width: 160px;
}
.pagecontent .sidebar .sidebarcontent .bottomsidecontent .sidecontent .sideitem .item {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-decoration: none;
}
.pagecontent .sidebar .sidebarcontent .bottomsidecontent .sidecontent .sideitem .item:hover {
  cursor: pointer;
}
.pagecontent .sidebar .sidebarcontent .bottomsidecontent .sidecontent .sideitem .item .itemicon {
  height: 90%;
  width: 50px;
  display: flex;
  justify-content: center;
}
.pagecontent .sidebar .sidebarcontent .bottomsidecontent .sidecontent .sideitem .item .itemicon img {
  height: 100%;
}
.pagecontent .sidebar .sidebarcontent .bottomsidecontent .sidecontent .sideitem .item .itemtxt {
  width: 100px;
}
.pagecontent .pagerightside {
  background-color: #00000008;
  width: 100%;
}
.pagecontent .pagerightside .topbar {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FFFFFF;
}
.pagecontent .pagerightside .topbar .topbarcontentdiv {
  height: 75px;
}
.pagecontent .pagerightside .topbar .topbarcontentdiv .topbarcontent {
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
}
.pagecontent .pagerightside .topbar .topbarcontentdiv .topbarcontent .notificationdiv {
  width: 50px;
}
.pagecontent .pagerightside .topbar .topbarcontentdiv .topbarcontent .notificationdiv .notification {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: solid 2px #00000033;
}
.pagecontent .pagerightside .topbar .topbarcontentdiv .topbarcontent .profilediv {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}
.pagecontent .pagerightside .topbar .topbarcontentdiv .topbarcontent .profilediv .arrowdiv {
  display: flex;
  align-items: center;
}
.pagecontent .pagerightside .rightsidepagecontent .pagetitle {
  height: 75px;
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.pagecontent .pagerightside .rightsidepagecontent .pagetitle .title {
  font-size: 15px;
  font-weight: bold;
  color: #1F1F1F;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent {
  display: flex;
  flex-wrap: wrap;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .leftside {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .leftside .leftsiderow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .leftside .leftsiderow .widebox {
  margin: 25px 25px;
  height: 250px;
  width: 400px;
  background-color: white;
  border-radius: 20px;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .leftside .leftsiderow .widebox .widediv {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .leftside .leftsiderow .widebox .widediv .widecontent .title {
  font-size: 16px;
  letter-spacing: 1.6px;
  color: #1F1F1F;
  text-transform: uppercase;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .leftside .leftsiderow .widebox .widediv .widecontent .amount {
  font-size: 50px;
  font-weight: bold;
  color: #0033A1;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .leftside .leftsiderow .squarebox {
  height: 250px;
  width: 250px;
  background-color: white;
  border-radius: 20px;
  margin: 25px 25px;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .leftside .leftsiderow .squarebox .squarediv {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .leftside .leftsiderow .squarebox .squarediv .squarecontent .title {
  font-size: 16px;
  letter-spacing: 1.6px;
  color: #1F1F1F;
  text-transform: uppercase;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .leftside .leftsiderow .squarebox .squarediv .squarecontent .amount {
  font-size: 50px;
  font-weight: bold;
  color: #0033A1;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .rightside .tablebox {
  height: 550px;
  background: white;
  border-radius: 20px;
  width: 500px;
  overflow: hidden;
  margin: 25px 25px;
  margin-right: 0;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .rightside .tablebox .tablediv .tablecontent {
  height: 100px;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .rightside .tablebox .tablediv .tablecontent .toppart {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .rightside .tablebox .tablediv .tablecontent .toppart .expiredpolicies {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #0033A1;
  text-transform: uppercase;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .rightside .tablebox .tablediv .tablecontent .toppart .seemorebtn {
  display: flex;
  width: 75px;
  justify-content: space-between;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .rightside .tablebox .tablediv .tablecontent .toppart .seemorebtn:hover {
  cursor: pointer;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .rightside .tablebox .tablediv .tablecontent .toppart .seemorebtn:hover .iconbox {
  -webkit-animation: arrowvertical 0.5s infinite alternate;
          animation: arrowvertical 0.5s infinite alternate;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .rightside .tablebox .tablediv .tablecontent .toppart .seemorebtn .txt {
  font-size: 12px;
  color: #1F1F1F;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .rightside .tablebox .tablediv .tablecontent .table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .rightside .tablebox .tablediv .tablecontent .table .tablerow {
  width: 400px;
  border-bottom: 2px solid #0000001A;
  padding: 15px 0px;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .rightside .tablebox .tablediv .tablecontent .table .tablerow .rowcontent {
  display: flex;
  justify-content: space-between;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .rightside .tablebox .tablediv .tablecontent .table .tablerow .rowcontent .number {
  font-size: 13px;
  color: #1F1F1F;
}
.pagecontent .pagerightside .rightsidepagecontent .dashboardpagecontent .rightside .tablebox .tablediv .tablecontent .table .tablerow .rowcontent .amount {
  font-size: 13px;
  font-weight: bold;
  color: #0033A1;
}
.pagecontent .pagerightside .rightsidepagecontent .policiespagecontent {
  overflow-x: scroll;
  margin-top: 25px;
}
.pagecontent .pagerightside .rightsidepagecontent .policiespagecontent .policiestable {
  width: 90%;
  margin: 0px 50px;
}
.pagecontent .pagerightside .rightsidepagecontent .policiespagecontent .policiestable .policiesthead {
  height: 50px;
  background-color: #0033A1;
}
.pagecontent .pagerightside .rightsidepagecontent .policiespagecontent .policiestable .policiesthead th {
  border-radius: 0;
  color: white;
  text-align: center;
}
.pagecontent .pagerightside .rightsidepagecontent .policiespagecontent .policiestable .policiesbody .policiestablerow {
  height: 50px;
}
.pagecontent .pagerightside .rightsidepagecontent .policiespagecontent .policiestable .policiesbody .policiestablerow td {
  text-align: center;
}
.pagecontent .pagerightside .rightsidepagecontent .policiespagecontent .policiestable .policiesbody .policiestablerow .actionbtns {
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.pagecontent .pagerightside .rightsidepagecontent .policiespagecontent .policiestable .policiesbody .policiestablerow .actionbtns button {
  border: none;
  background-color: transparent;
}
.pagecontent .pagerightside .rightsidepagecontent .policiespagecontent .policiestable .policiesbody .policiestablerow .actionbtns button:hover {
  cursor: pointer;
}
.pagecontent .pagerightside .rightsidepagecontent .addresspagecontent .addresses {
  display: flex;
  margin-left: 25px;
  flex-wrap: wrap;
}
.pagecontent .pagerightside .rightsidepagecontent .addresspagecontent .addresses .addressbox {
  background-color: white;
  border-radius: 20px;
  width: 485px;
  height: 250px;
  margin: 25px 25px;
}
.pagecontent .pagerightside .rightsidepagecontent .addresspagecontent .addresses .addressbox .addresscontent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 30px;
}
.pagecontent .pagerightside .rightsidepagecontent .addresspagecontent .addresses .addressbox .addresscontent .title {
  font-size: 13px;
  font-weight: bold;
  color: #0033A1;
  text-transform: capitalize;
}
.pagecontent .pagerightside .rightsidepagecontent .addresspagecontent .addresses .addressbox .addresscontent .info .name {
  font-size: 12px;
  color: #1F1F1F;
  opacity: 0.7;
  text-transform: capitalize;
  line-height: 30px;
}
.pagecontent .pagerightside .rightsidepagecontent .addresspagecontent .addresses .addressbox .addresscontent .info .address {
  font-size: 12px;
  color: #1F1F1F;
  opacity: 0.7;
  text-transform: capitalize;
  line-height: 30px;
}
.pagecontent .pagerightside .rightsidepagecontent .addresspagecontent .addresses .addressbox .addresscontent .btns {
  display: flex;
  justify-content: space-between;
  width: 125px;
}
.pagecontent .pagerightside .rightsidepagecontent .addresspagecontent .addresses .addressbox .addresscontent .btns .editbtn {
  font-size: 12px;
  font-weight: bold;
  color: #0033A1;
  text-transform: capitalize;
  border: none;
  background-color: transparent;
}
.pagecontent .pagerightside .rightsidepagecontent .addresspagecontent .addresses .addressbox .addresscontent .btns .editbtn:hover {
  cursor: pointer;
}
.pagecontent .pagerightside .rightsidepagecontent .addresspagecontent .addresses .addressbox .addresscontent .btns .dltbtn {
  font-size: 12px;
  font-weight: bold;
  color: #0033A1;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
}
.pagecontent .pagerightside .rightsidepagecontent .addresspagecontent .addresses .addressbox .addresscontent .btns .dltbtn:hover {
  cursor: pointer;
}
.pagecontent .pagerightside .rightsidepagecontent .accountpagecontent .accountboxs {
  margin-left: 25px;
  display: flex;
  flex-wrap: wrap;
}
.pagecontent .pagerightside .rightsidepagecontent .accountpagecontent .accountboxs .accountbox {
  width: 600px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  margin: 25px;
}
.pagecontent .pagerightside .rightsidepagecontent .accountpagecontent .accountboxs .accountbox .accountcontent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.pagecontent .pagerightside .rightsidepagecontent .accountpagecontent .accountboxs .accountbox .accountcontent .title {
  width: 90%;
  color: #0033A1;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}
.pagecontent .pagerightside .rightsidepagecontent .accountpagecontent .accountboxs .accountbox .accountcontent .infoinput {
  width: 90%;
}
.pagecontent .pagerightside .rightsidepagecontent .accountpagecontent .accountboxs .accountbox .accountcontent .infoinput input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #898A8D33;
  padding-bottom: 12px;
}
.pagecontent .pagerightside .rightsidepagecontent .accountpagecontent .accountboxs .accountbox .accountcontent .savebtnbox {
  width: 90%;
}
.pagecontent .pagerightside .rightsidepagecontent .accountpagecontent .accountboxs .accountbox .accountcontent .savebtnbox .savebtn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #0033A1;
  color: white;
  padding: 10px 45px;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
.pagecontent .pagerightside .rightsidepagecontent .accountpagecontent .accountboxs .accountbox .accountcontent .savebtnbox .savebtn:hover {
  cursor: pointer;
}
.pagecontent .pagerightside .rightsidepagecontent .accountpagecontent .accountboxs .accountbox .accountcontent .savebtnbox .savebtn img {
  position: absolute;
  right: 12px;
  bottom: 50%;
  transform: translate(0px, 50%);
}

@-webkit-keyframes arrowvertical {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes arrowvertical {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
.modal {
  transition: 0.3s all;
  top: 50% !important;
  right: 50% !important;
  transform: translate(50%, -50%) !important;
  left: unset !important;
}

.menu-btn {
  width: 45px;
  height: 45px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 10;
  margin-right: 20px;
  margin-top: 20px;
}

.menu-btn__burger {
  width: 25px;
  height: 5px;
  background: #0033A1;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 5px;
  background: #0033A1;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-10px);
}

.menu-btn__burger::after {
  transform: translateY(10px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: #fff;
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: #fff;
}

@media screen and (max-width: 1440px) {
  .loginpage .loginpagediv .sidedwhitediv {
    transform: rotate(15deg) translate(235px, -37px);
  }

  .dashboardpagecontent {
    justify-content: center;
  }
}
@media screen and (max-width: 1300px) {
  .loginpage .loginpagediv .sidedwhitediv {
    display: none;
  }
  .loginpage .loginpagediv .loginpagecontent {
    width: 100%;
    justify-content: center;
  }
  .loginpage .loginpagediv .loginpagecontent form {
    width: 100%;
  }
  .loginpage .loginpagediv .loginpagecontent form .loginemail {
    width: 100%;
  }
  .loginpage .loginpagediv .loginpagecontent form .loginpassword {
    width: 100%;
  }

  .tablebox {
    margin: 25px 0 !important;
  }

  .leftside {
    margin-left: 0 !important;
  }

  .pagetitle {
    margin-left: 0 !important;
    margin-top: 25px !important;
    justify-content: center !important;
  }
  .pagetitle .title {
    font-size: 25px !important;
  }
}
@media screen and (max-width: 1000px) {
  .topbar {
    display: none;
  }

  .sidebar {
    display: none;
    width: 100% !important;
    position: fixed !important;
    z-index: 2;
  }

  .menu-btn {
    display: flex !important;
  }

  .dashboardpagecontent {
    justify-content: center;
  }

  .addresspagecontent .addresses {
    justify-content: center;
    margin-left: 0 !important;
  }

  .accountpagecontent .accountboxs {
    justify-content: center;
    margin-left: 0 !important;
  }

  .policiestable {
    width: 850px !important;
    margin: 0 !important;
  }
}
@media screen and (max-width: 675px) {
  .leftsiderow .widebox {
    height: 150px !important;
    width: 275px !important;
  }
  .leftsiderow .widebox .title {
    font-size: 12px !important;
  }
  .leftsiderow .widebox .amount {
    font-size: 40px !important;
  }
  .leftsiderow .squarebox .title {
    font-size: 12px !important;
  }
  .leftsiderow .squarebox .amount {
    font-size: 40px !important;
  }

  .tablebox {
    width: 350px !important;
  }
  .tablebox .tablerow {
    width: 300px !important;
  }
}
@media (min-width: 400px) and (max-width: 675px) {
  .squarebox {
    height: 150px !important;
    width: 150px !important;
  }
}
@media screen and (max-width: 400px) {
  .leftside .squarebox {
    height: 150px !important;
    width: 275px !important;
  }
}
