$primaryblack: #000000;
$primarygrey: #1F1F1F;
$primaryblue: #0033A1;
$primarywhite: #FFFFFF;
$primaryfont: 'Open Sans', sans-serif;
$primaryfont_size: 14px;
$background_color: white;
$transition: 0.3s;
$overlay: 0.4;
$brightness: 0.6;

.common-loader-hide {
    animation: hideit 0.5s normal forwards ease-in-out !important;
    animation-delay: 0.3s !important;
}

.common-loader-initial {
    animation: fade-in 0.5s normal forwards ease-in-out;
    animation-delay: 0s;
}

@keyframes hideit {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 0;
        display: none !important;
        height: 100vh;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}

@-webkit-keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

body, html {
    margin: 0;
    padding: 0;
    font-size: $primaryfont_size;
    color: $primaryblack;
    box-sizing: border-box;
    user-select: inherit;
    -webkit-touch-callout: inherit;
    -webkit-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: $primaryfont;
    background-color: $background_color;
    max-width: 100%;
    text-decoration: none;
}

button:focus {
    background-color: unset !important;
}

.content-fluid {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .content-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 768px) {
    .content-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 992px) {
    .content-fluid {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media (min-width: 1300px) {
    .content-fluid {
        padding-right: 80px !important;
        padding-left: 80px !important;


        &.compact {
            width: 100%;
        }
    }
}

.loginpage {
    height: 100vh;
    overflow: hidden;

    .loginpagediv {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: end;

        .sidedwhitediv {
            background-color: white;
            height: 200%;
            width: 19%;
            transform-origin: top right;
            transform: rotate(15deg) translate(275px, -14px);
        }

        .loginpagecontent {
            background: white;
            height: 100%;
            width: 37%;
            display: flex;
            justify-content: start;
            align-items: center;
            text-align: center;

            .logincontent {
                height: 350px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                position: relative;

                .logintitle {
                    .title {
                        color: $primaryblue;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }

                .loginemail {
                    .loginemailinput {
                        font-size: 14px;
                        border: none;
                        border-bottom: 1px solid #898A8D33;
                        width: 500px;
                        padding-bottom: 12px;
                        padding-left: 12px;

                        &::placeholder {
                            color: #1F1F1F;
                            opacity: 0.75;
                        }
                    }
                }

                .loginpassword {
                    .loginpassinput {
                        font-size: 14px;
                        border: none;
                        border-bottom: 1px solid #898A8D33;
                        width: 500px;
                        padding-bottom: 12px;
                        padding-left: 12px;

                        &::placeholder {
                            color: $primarygrey;
                            opacity: 0.75;

                        }
                    }
                }

                .loginforgotpassword {
                    .forgotpasstxt {
                        color: #1F1F1F80;
                        font-size: 14px;

                        .forgotpassbtn {
                            font-size: 14px;
                            font-weight: bold;
                            color: #1F1F1F;
                            text-decoration: none;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                .loginbtndiv {

                    .loginbtn {
                        background-color: $primaryblue;
                        border: none;
                        height: 40px;
                        width: 140px;
                        font-weight: 600;
                        font-size: 16px;
                        color: white;
                        position: relative;

                        &:hover {
                            cursor: pointer;
                        }

                        img {
                            position: absolute;
                            right: 15px;
                            bottom: 13px;
                            height: 15px;
                        }
                    }
                }
            }
        }
    }
}


.pagecontent {
    display: flex;
    //////////////////////////////////////////////////////////////////SideBar//////////////////////////////////////////////////////////////////

    .sidebar {
        min-height: 100vh;
        width: 15%;
        background-color: $primaryblue;

        .sidebarcontent {
            height: 100%;

            .toplogodiv {
                height: 150px;

                .logodiv {
                    display: flex;
                    justify-content: center;
                    height: 75px;
                    align-items: center;
                }
            }

            .bottomsidecontent {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;

                .sidecontent {
                    height: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .sideitem {
                        height: 25px;
                        width: 160px;

                        .item {
                            color: white;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 100%;
                            text-decoration: none;

                            &:hover {
                                cursor: pointer;
                            }

                            .itemicon {
                                height: 90%;
                                width: 50px;
                                display: flex;
                                justify-content: center;

                                img {
                                    height: 100%;
                                }
                            }

                            .itemtxt {
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
    }

    //////////////////////////////////////////////////////////////////TopBar//////////////////////////////////////////////////////////////////
    .pagerightside {
        background-color: #00000008;
        width: 100%;

        .topbar {
            width: 100%;
            height: fit-content;
            background-color: #FFFFFF;

            .topbarcontentdiv {
                height: 75px;

                .topbarcontent {
                    display: flex;
                    justify-content: end;
                    height: 100%;
                    align-items: center;

                    .notificationdiv {
                        width: 50px;

                        .notification {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            border-right: solid 2px #00000033;
                        }
                    }

                    .profilediv {
                        display: flex;
                        width: 300px;
                        justify-content: space-evenly;

                        .profileicondiv {

                        }

                        .profileinfo {

                        }

                        .arrowdiv {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }

        .rightsidepagecontent {
            //background-color: #00000008;
            .pagetitle {
                height: 75px;
                display: flex;
                align-items: center;
                margin-left: 50px;

                .title {
                    font-size: 15px;
                    font-weight: bold;
                    color: $primarygrey;
                }
            }

            //////////////////////////////////////////////////////////////////DashBoard//////////////////////////////////////////////////////////////////

            .dashboardpagecontent {
                display: flex;
                flex-wrap: wrap;

                .leftside {
                    max-width: 750px;
                    display: flex;
                    flex-direction: column;
                    margin-left: 25px;

                    .leftsiderow {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        .widebox {
                            margin: 25px 25px;
                            height: 250px;
                            width: 400px;
                            background-color: white;
                            border-radius: 20px;

                            .widediv {
                                height: 100%;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .widecontent {
                                    .title {
                                        font-size: 16px;
                                        letter-spacing: 1.6px;
                                        color: $primarygrey;
                                        text-transform: uppercase;
                                    }

                                    .amount {
                                        font-size: 50px;
                                        font-weight: bold;
                                        color: $primaryblue;
                                    }
                                }
                            }
                        }

                        .squarebox {
                            height: 250px;
                            width: 250px;
                            background-color: white;
                            border-radius: 20px;
                            margin: 25px 25px;

                            .squarediv {
                                height: 100%;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .squarecontent {
                                    .title {
                                        font-size: 16px;
                                        letter-spacing: 1.6px;
                                        color: $primarygrey;
                                        text-transform: uppercase;
                                    }

                                    .amount {
                                        font-size: 50px;
                                        font-weight: bold;
                                        color: $primaryblue;
                                    }
                                }
                            }
                        }
                    }
                }

                .rightside {
                    .tablebox {
                        height: 550px;
                        background: white;
                        border-radius: 20px;
                        width: 500px;
                        overflow: hidden;
                        margin: 25px 25px;
                        margin-right: 0;

                        .tablediv {
                            .tablecontent {
                                height: 100px;

                                .toppart {
                                    display: flex;
                                    justify-content: space-around;
                                    height: 100%;
                                    align-items: center;

                                    .expiredpolicies {
                                        font-size: 20px;
                                        font-weight: bold;
                                        letter-spacing: 2px;
                                        color: $primaryblue;
                                        text-transform: uppercase;
                                    }

                                    .seemorebtn {
                                        display: flex;
                                        width: 75px;
                                        justify-content: space-between;

                                        &:hover {
                                            cursor: pointer;

                                            .iconbox {
                                                animation: arrowvertical 0.5s infinite alternate;
                                            }
                                        }

                                        .txt {
                                            font-size: 12px;
                                            color: $primarygrey;
                                        }

                                        .iconbox {

                                        }
                                    }
                                }

                                .table {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;

                                    .tablerow {
                                        width: 400px;
                                        border-bottom: 2px solid #0000001A;
                                        padding: 15px 0px;

                                        .rowcontent {
                                            display: flex;
                                            justify-content: space-between;

                                            .number {
                                                font-size: 13px;
                                                color: $primarygrey;
                                            }

                                            .amount {
                                                font-size: 13px;
                                                font-weight: bold;
                                                color: $primaryblue;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            //////////////////////////////////////////////////////////////////Policies//////////////////////////////////////////////////////////////////

            .policiespagecontent {
                overflow-x: scroll;
                margin-top: 25px;

                .policiestable {
                    width: 90%;
                    margin: 0px 50px;

                    .policiesthead {
                        height: 50px;
                        background-color: $primaryblue;

                        th {
                            border-radius: 0;
                            color: white;
                            text-align: center;
                        }
                    }

                    .policiesbody {
                        .policiestablerow {
                            height: 50px;

                            td {
                                text-align: center;
                            }

                            .actionbtns {
                                height: 50px;
                                align-items: center;
                                display: flex;
                                justify-content: space-evenly;

                                button {
                                    border: none;
                                    background-color: transparent;

                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            //////////////////////////////////////////////////////////////////DashBoard//////////////////////////////////////////////////////////////////

            .addresspagecontent {
                .addresses {
                    display: flex;
                    margin-left: 25px;
                    flex-wrap: wrap;

                    .addressbox {
                        background-color: white;
                        border-radius: 20px;
                        width: 485px;
                        height: 250px;
                        margin: 25px 25px;

                        .addresscontent {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            margin: 0px 30px;

                            .title {
                                font-size: 13px;
                                font-weight: bold;
                                color: $primaryblue;
                                text-transform: capitalize;
                            }

                            .info {
                                .name {
                                    font-size: 12px;
                                    color: $primarygrey;
                                    opacity: .7;
                                    text-transform: capitalize;
                                    line-height: 30px;
                                }

                                .address {
                                    font-size: 12px;
                                    color: $primarygrey;
                                    opacity: .7;
                                    text-transform: capitalize;
                                    line-height: 30px;
                                }
                            }

                            .btns {
                                display: flex;
                                justify-content: space-between;
                                width: 125px;

                                .editbtn {
                                    font-size: 12px;
                                    font-weight: bold;
                                    color: $primaryblue;
                                    text-transform: capitalize;
                                    border: none;
                                    background-color: transparent;

                                    &:hover {
                                        cursor: pointer;
                                    }
                                }

                                .dltbtn {
                                    font-size: 12px;
                                    font-weight: bold;
                                    color: $primaryblue;
                                    text-transform: capitalize;
                                    background-color: transparent;
                                    border: none;

                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            //////////////////////////////////////////////////////////////////DashBoard//////////////////////////////////////////////////////////////////

            .accountpagecontent {
                .accountboxs {
                    margin-left: 25px;
                    display: flex;
                    flex-wrap: wrap;

                    .accountbox {
                        width: 600px;
                        height: 500px;
                        background-color: white;
                        border-radius: 20px;
                        margin: 25px;

                        .accountcontent {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;

                            .title {
                                width: 90%;
                                color: $primaryblue;
                                font-size: 13px;
                                font-weight: bold;
                                text-transform: capitalize;
                            }

                            .infoinput {
                                width: 90%;

                                input {
                                    width: 100%;
                                    border: none;
                                    border-bottom: 1px solid #898A8D33;
                                    padding-bottom: 12px;
                                }
                            }

                            .savebtnbox {
                                width: 90%;

                                .savebtn {
                                    width: fit-content;
                                    background-color: $primaryblue;
                                    color: white;
                                    padding: 10px 45px;
                                    position: relative;
                                    font-size: 16px;
                                    font-weight: 600;
                                    border: none;

                                    &:hover {
                                        cursor: pointer;
                                    }

                                    img {
                                        position: absolute;
                                        right: 12px;
                                        bottom: 50%;
                                        transform: translate(0px, 50%);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            //////////////////////////////////////////////////////////////////DashBoard//////////////////////////////////////////////////////////////////
        }
    }
}


@keyframes arrowvertical {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}


///////////Test////////\
//.widebox {
//    height: 250px;
//    width: 400px;
//    background-color: white;
//    border-radius: 20px;
//
//    .widediv {
//        height: 100%;
//        width: 100%;
//        display: flex;
//        justify-content: center;
//        align-items: center;
//
//        .widecontent {
//            .title {
//                font-size: 16px;
//                letter-spacing: 1.6px;
//                color: $primarygrey;
//                text-transform: uppercase;
//            }
//
//            .amount {
//                font-size: 50px;
//                font-weight: bold;
//                color: $primaryblue;
//            }
//        }
//    }
//}
//
//.squarebox {
//    height: 250px;
//    width: 250px;
//    background-color: white;
//    border-radius: 20px;
//
//    .squarediv {
//        height: 100%;
//        width: 100%;
//        display: flex;
//        justify-content: center;
//        align-items: center;
//
//        .squarecontent {
//            .title {
//                font-size: 16px;
//                letter-spacing: 1.6px;
//                color: $primarygrey;
//                text-transform: uppercase;
//            }
//
//            .amount {
//                font-size: 50px;
//                font-weight: bold;
//                color: $primaryblue;
//            }
//        }
//    }
//}
//
//.tablebox {
//    height: 550px;
//    background: white;
//    border-radius: 20px;
//    width: 500px;
//    overflow: hidden;
//
//    .tablediv {
//        .tablecontent {
//            height: 100px;
//
//            .toppart {
//                display: flex;
//                justify-content: space-around;
//                height: 100%;
//                align-items: center;
//
//                .expiredpolicies {
//                    font-size: 20px;
//                    font-weight: bold;
//                    letter-spacing: 2px;
//                    color: $primaryblue;
//                    text-transform: uppercase;
//                }
//
//                .seemorebtn {
//                    display: flex;
//                    width: 75px;
//                    justify-content: space-between;
//
//                    &:hover {
//                        cursor: pointer;
//
//                        .iconbox {
//                            animation: arrowvertical 0.5s infinite alternate;
//                        }
//                    }
//
//                    .txt {
//                        font-size: 12px;
//                        color: $primarygrey;
//                    }
//
//                    .iconbox {
//
//                    }
//                }
//            }
//
//            .table {
//                display: flex;
//                flex-direction: column;
//                justify-content: center;
//                align-items: center;
//
//                .tablerow {
//                    width: 400px;
//                    border-bottom: 2px solid #0000001A;
//                    padding: 15px 0px;
//
//                    .rowcontent {
//                        display: flex;
//                        justify-content: space-between;
//
//                        .number {
//                            font-size: 13px;
//                            color: $primarygrey;
//                        }
//
//                        .amount {
//                            font-size: 13px;
//                            font-weight: bold;
//                            color: $primaryblue;
//                        }
//                    }
//                }
//            }
//        }
//    }
//}


.modal {
    transition: 0.3s all;
    top: 50% !important;
    right: 50% !important;
    transform: translate(50%, -50%) !important;
    left: unset !important;
    //width: 40% !important;
}

////////////////////////////////////////////Burger Menu////////////////////////////////////////////

.menu-btn {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    //border: 3px solid $primaryblue;
    z-index: 10;
    margin-right: 20px;
    margin-top: 20px;
}

.menu-btn__burger {
    width: 25px;
    height: 5px;
    background: $primaryblue;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 5px;
    background: $primaryblue;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-10px);
}

.menu-btn__burger::after {
    transform: translateY(10px);
}


.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: #fff;
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: #fff;
}

//.menu-btn.open {
//    border: 3px solid #fff;
//}

////////////////////////////////////////////Media Querry////////////////////////////////////////////

@media screen and (max-width: 1440px) {

    .loginpage {
        .loginpagediv {
            .sidedwhitediv {
                transform: rotate(15deg) translate(235px, -37px);
            }
        }
    }

    .dashboardpagecontent {
        justify-content: center;
    }

}

@media screen and (max-width: 1300px) {

    .loginpage {
        .loginpagediv {
            .sidedwhitediv {
                display: none;
            }

            .loginpagecontent {
                width: 100%;
                justify-content: center;

                form {
                    width: 100%;

                    .loginemail {
                        width: 100%;
                    }

                    .loginpassword {
                        width: 100%;
                    }
                }
            }
        }
    }

    .tablebox {
        margin: 25px 0 !important;
    }
    .leftside {
        margin-left: 0 !important;
    }
    .pagetitle {
        margin-left: 0 !important;
        margin-top: 25px !important;
        justify-content: center !important;

        .title {
            font-size: 25px !important;
        }
    }

}

@media screen and (max-width: 1000px) {
    .topbar {
        display: none;
    }
    .sidebar {
        display: none;
        width: 100% !important;
        position: fixed !important;
        z-index: 2;
    }
    .menu-btn {
        display: flex !important;
    }
    .dashboardpagecontent {
        justify-content: center;
    }
    .addresspagecontent {
        .addresses {
            justify-content: center;
            margin-left: 0 !important;
        }
    }
    .accountpagecontent {
        .accountboxs {
            justify-content: center;
            margin-left: 0 !important;
        }
    }
    .policiestable{
        width: 850px !important;
        margin: 0 !important;
    }
}

@media screen and (max-width: 675px) {
    .leftsiderow {
        .widebox {
            height: 150px !important;
            width: 275px !important;

            .title {
                font-size: 12px !important;
            }

            .amount {
                font-size: 40px !important;
            }
        }

        .squarebox {
            .title {
                font-size: 12px !important;
            }

            .amount {
                font-size: 40px !important;
            }
        }
    }
    .tablebox {
        width: 350px !important;

        .tablerow {
            width: 300px !important;
        }
    }
}

@media (min-width: 400px) and (max-width: 675px) {
    .squarebox {
        height: 150px !important;
        width: 150px !important;
    }
}

@media screen and (max-width: 400px) {
    .leftside{
        .squarebox{
            height: 150px !important;
            width: 275px !important;
        }
    }
}
